<% if request.variant.include? :desktop %>
    <div id="top-image">
        <!--<div class="centered">
          <p id="text">Contrapost is coming...</p>
        </div>-->
    </div>

<% else %>
    <div id="mobile-image"></div>
<% end %>

