<% if request.variant.include? :desktop %>
    <div class="top-image" id="image_1">
        <!--<div class="centered">
          <p id="text">Contrapost is coming...</p>
        </div>-->
    </div>

<% else %>
    <div class="mobile-image" id="image_1_mobile"></div>
<% end %>

