<% if request.variant.include? :desktop %>
    <a href="/video">
      <div id="top-image">
        <!--<div class="centered">
          <p id="text">Contrapost is coming...</p>
        </div>-->
      </div>
    </a>
<% else %>
    <a href="/video">
      <div id="mobile-image">
      </div>
    </a>
<% end %>

