<% if request.variant.include? :desktop %>
    <div class="top-image" id="image_2">
      <!--<div class="centered">
        <p id="text">Contrapost is coming...</p>
      </div>-->
    </div>

<% else %>
    <div class="mobile-image" id="image_2_mobile"></div>
<% end %>